# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcworkspace/
xcuserdata/
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# Debug
test/
